/*====================Universals====================*/


/*=====================Fonts========================*/
@import url('https://fonts.googleapis.com/css?family=Courgette');
/*=====================Nav==========================*/
.nav-link{
  font-size: 150%;
  font-family: 'Courgette', cursive;

}
/*======================logo========================*/
.headerLogo{
  width:20%;
}
/*============================Carosul==================*/
.second-slide{
  width:100px:
}
/*featured*/

/*sevices*/

/*footer*/
